---
services:
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=Europe/Berlin
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 2G        # Maximum memory usage
        reservations:
          memory: 128M      # Reserved memory

    networks:
      - internal

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: steelapi
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - flaresolverr
    deploy:
      resources:
        limits:
          memory: 1G        # Maximum memory usage
        reservations:
          memory: 64M      # Reserved memory
    restart: unless-stopped
    networks:
      - internal

networks:
  internal:
    driver: bridge
